<%= form_for(@amenity_patio) do |f| %>
  <% if @amenity_patio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amenity_patio.errors.count, "error") %> prohibited this amenity_patio from being saved:</h2>

      <ul>
      <% @amenity_patio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
