<p id="notice"><%= notice %></p>

<h3>APARTMENT FEATURE -- Patios</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @amenity_patios.each do |amenity_patio| %>
      <tr>
        <td><%= amenity_patio.name %></td>
        <td><%= link_to 'Edit', edit_amenity_patio_path(amenity_patio) %></td>
        <td><%= link_to 'Destroy', amenity_patio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amenity patio', new_amenity_patio_path, {:class=>"btn btn-primary"} %>
<%= link_to 'Back', "/building_amenities" %>
