<div class="session-form">
  <h2>Log In</h2>
  <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email], size: "30" %>
      </div>
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, nil, size: "30" %>
        <p><%= link_to "forgotten password?", new_password_reset_path %></p>
      </div>
      <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
      </div>
      <div class="actions"><%= submit_tag "Log In", {:class=>"btn btn-primary"} %></div>
  <% end %>
</div>