<p id="notice"><%= notice %></p>

<%= form_for(@building_unit) do |f| %>
    <% if @building_unit.errors.any? %>
        <div id="error_explanation">
          <h4>Please enter values for the <%= pluralize(@building_unit.errors.count, "field") %> you missed</h4>

          <!--<ul>-->
            <!--<%# @building_unit.errors.full_messages.each do |message| %>-->
                <!--<li><%#= message %></li>-->
            <!--<%# end %>-->
          <!--</ul>-->
        </div>
    <% end %>

    <%= f.hidden_field :building_id, value: params[:building_id] %>
    <%= f.hidden_field :bed_bath, value: "competitor_record" %>
    <div class="row">
      <div class="col-sm-4 field">
        <b>As Of Date</b><br>
        <%= f.date_field :as_of_date %>
      </div>
      <div class="col-sm-8 field">
          <b>Building</b><br>
          <%= f.collection_select :building_id, Building.where(competitor: true).where("geography_id IN (#{@current_user_geographies})").order('name ASC'), :id, :name, include_blank: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 field">
        <b>Beds</b><br>
        <%= f.text_field :beds, {:class => 'js-numbers-only'} %>
      </div>
      <div class="col-sm-4 field">
        <b>Baths</b><br>
        <%= f.text_field :baths, {:class => 'js-numbers-only', :data => {'allow-decimal' => 'true'} } %>
      </div>
      <div class="col-sm-4 field">
        <b>Additional Room</b><br>
        <%= f.check_box :add_room %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 field">
        <b>Floor</b><br>
        <%= f.text_field :floor, {:class => 'js-numbers-only'} %>
      </div>
      <div class="col-sm-4 field">
        <b>Square Feet</b><br>
        <%= f.text_field :sq_feet, {:class => 'js-numbers-only'} %>
      </div>
      <div class="col-sm-4 field">
        <b>Actual Rent</b><br>
        <div class="dollar-input-container"><i>$</i><%= f.text_field :actual_rent, {:class => 'js-numbers-only'} %></div>
      </div>
    </div>
    <h4>Concessions...</h4>
    <div class="row">
      <div class="field col-sm-4">
        <%= f.label :months_off, "Months" %><br>
        <%= f.text_field :months_off, {:class => 'js-numbers-only'} %>
      </div>
      <div class="field col-sm-4">
        <%= f.label :cash_off %><br>
        <div class="dollar-input-container"><i>$</i><%= f.text_field :cash_off, {:class => 'js-numbers-only'} %></div>
      </div>
      <div class="field col-sm-4">
        <%= f.label :lease_length %><br>
        <%= f.text_field :lease_length, {:class => 'js-numbers-only'} %>
      </div>
    </div>
    <%- if @building_unit.created_at != nil %>
    <br>
    <b>Created On</b>
    <br>
    <%= @building_unit.created_at.strftime("%m/%d/%Y") %>
    <br><br>
    <b>Updated On</b>
    <br>
    <%= @building_unit.updated_at.strftime("%m/%d/%Y") %>
    <%- end %>
    <div class="actions">
      <%= link_to "cancel", "/comp_index", {:class=>"btn btn-cancel"} %>
      <%= f.submit "Save", {:class=>"btn btn-success"} %>
      <%= f.button "Save & Add Another", {:class=>"btn btn-success", :id=>"js-save-and-add"} %>
      <span class="hidden"><%= f.check_box :move_in %>&nbsp;&nbsp;<span class="small-text">ADD ANOTHER</span></span>
    </div>
<% end %>