<%= form_for(@building_unit) do |f| %>
    <% if @building_unit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@building_unit.errors.count, "error") %> prohibited this building_unit from being saved:</h2>

          <ul>
            <% @building_unit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <br>
      <%= f.submit "Save", {:class=>"btn btn-success"} %>
      <%- if @building_unit.building_id == nil then path = "comp_index" else path = "/comp_index" end  %>
      <%= link_to "cancel", path %>
    </div>
    <br>
    <div class="field">
      <%= f.label :building_id %><br>
      <%= f.collection_select :building_id, Building.where(competitor: true), :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :beds %><br>
      <%= f.number_field :beds %>
    </div>
    <div class="field">
      <%= f.label :baths %><br>
      <%= f.text_field :baths %>
    </div>
    <div class="field">
      <%= f.label :floor %><br>
      <%= f.number_field :floor %>
    </div>
    <div class="field">
      <%= f.label :sq_feet %><br>
      <%= f.number_field :sq_feet %>
    </div>
    <div class="field">
      <%= f.label :market_rent %><br>
      <%= f.text_field :market_rent %>
    </div>
    <div class="field">
      <br>
      <i>Concessions...</i>
      <br>
      <br>
      <%= f.label :months_off %><br>
      <%= f.text_field :months_off %>
    </div>
    <div class="field">
      <%= f.label :cash_off %><br>
      <%= f.text_field :cash_off %>
    </div>
    <div class="field">
      <%= f.label :lease_length %><br>
      <%= f.text_field :lease_length %>
    </div>
<br><br>
<% end %>
