<%= form_for(@building_unit) do |f| %>
    <% if @building_unit.errors.any? %>
        <div id="error_explanation">
          <h4>Please enter values for the <%= pluralize(@building_unit.errors.count, "field") %> you missed</h4>

          <!--<ul>-->
            <!--<%# @building_unit.errors.full_messages.each do |message| %>-->
                <!--<li><%#= message %></li>-->
            <!--<%# end %>-->
          <!--</ul>-->
        </div>
    <% end %>

    <%= f.hidden_field :building_id, value: params[:building_id] %>
    <%= f.hidden_field :bed_bath, value: "competitor_record" %>
    <div class="actions">
      <br>
      <%= f.submit "Save", {:class=>"btn btn-success"} %>
      <%= link_to "cancel", "/comp_index" %>
    </div>
    <br>
    <div class="field">
      <b>Building</b><br>
      <%= f.collection_select :building_id, Building.where(competitor: true), :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <b>Floor</b><br>
      <%= f.text_field :floor %>
    </div>
    <div class="field">
      <b>Beds</b><br>
      <%= f.text_field :beds %>
    </div>
    <div class="field">
      <b>Baths</b><br>
      <%= f.text_field :baths %>
    </div>
    <div class="field">
      <b>Square Feet</b><br>
      <%= f.text_field :sq_feet %>
    </div>
    <div class="field">
      <b>Actual Rent</b><br>
      <%= f.text_field :actual_rent %>
    </div>
    <%- if @building_unit.created_at != nil %>
    <br>
    <b>Created On</b>
    <br>
    <%= @building_unit.created_at.strftime("%m/%d/%Y") %>
    <br><br>
    <b>Updated On</b>
    <br>
    <%= @building_unit.updated_at.strftime("%m/%d/%Y") %>
    <%- end %>
    <br><br><br>
<% end %>
