<span title="<%= comp.building.name %> - <%= unit_type(comp) %>">
    <table><tr>
      <td class="first-col"><%= comp.actual_rent %></td>
      <td class="second-col"><%= gross_sq_foot(comp, "comp") %></td>
      <td class="third-col"><%= net_sq_foot(comp, "comp") %></td>
    </tr></table>
</span>
<br>