<span title="<%= comp.building.name %> - <%= comp.floor %>floor <%= comp.beds %> bed <%= comp.baths %> baths">
    <%= comp.actual_rent %>
    -
    <%= '%.2f' % (comp.actual_rent / comp.sq_feet) %>
    -
    <%= '%.2f' % ((comp.actual_rent - (concessions/12)) / comp.sq_feet) %>
</span>
<br>