<td class="width-175 comp-group-shade">
  <span title="<%= comp.building.name %> - <%= unit_type(comp) %>">
    <%= comp.actual_rent %>
  </span>
</td>
<td class="width-75 comp-group-shade"><%= gross_sq_foot(comp, "comp") %></td>
<td class="width-75 comp-group-shade"><%= net_sq_foot(comp, "comp") %></td>