<p id="notice"><%= notice %></p>



<h2>Market Comparisons</h2>

<%= link_to 'Add New', "/comp_new", {:class=>"btn btn-primary"} %>

<br><br>


<div class="scroll-table-div">

  <table class="scroll-table comp-table">
    <thead>
    <tr>
      <th class="extra">Property</th>
      <th>Floor</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Sq Feet</th>
      <th>Actual Rent</th>
      <th>Months Off</th>
      <th>Cash Off</th>
      <th>Lease Length</th>
      <th>Created On</th>
      <th>Updated On<br><br></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @building_units.each_with_index do |building_unit, index| %>
        <tr class="<%= (index % 2 == 0) ? 'odd' : 'even' %>">
          <td><%= link_to building_unit.building.name, "/comp_edit/#{building_unit.id}" %></td>
          <td><%= building_unit.floor %></td>
          <td><%= building_unit.beds %></td>
          <td><%= building_unit.baths %></td>
          <td><%= building_unit.sq_feet %></td>
          <td><%= building_unit.actual_rent %></td>
          <td><%= building_unit.months_off %></td>
          <td><%= building_unit.cash_off %></td>
          <td><%= building_unit.lease_length %></td>
          <td><%= building_unit.created_at.strftime("%m-%d-%Y") %></td>
          <td><%= building_unit.updated_at.strftime("%m-%d-%Y") %></td>
          <td><%= link_to 'Delete', building_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to "Download in Excel", comp_index_path(format: "xls") %>
<br>
<br>

