<p id="notice"><%= notice %></p>

<br>
<%= form_tag "/comparisons", :method => 'get' do %>
    <%= select_tag(:filter, options_for_select([['Vacant', 1], ['Expire within 30 days', 2]])) %>
    &nbsp;
    <%= submit_tag "Filter", {:class=>"btn btn-success"} %>
<% end %>
<br>

<div class="scroll-table-div">

  <table class="scroll-table_comps">
    <thead>
    <tr>
      <th class="width-175"></th>
      <th class="width-225"></th>
      <th class="width-100">Market rent<br><br></th>
      <th class="width-100">Concessions<br><br></th>
      <th class="width-75">gross/ft2<br><br></th>
      <th class="width-75">net/ft2<br><br></th>
      <%- last_comp_group = "" %>
      <%- CompGroup.all.each do |comp_group| %>
        <%- Geography.all.each do |geography| %>
            <th class="width-200 grey-td table-top">
                <%= raw "<span class='uppercase'>" + comp_group.name + "</span>" if comp_group.name != last_comp_group %>
                <br><br>
                <%= geography.name %>
                <br><br>
            </th>
            <% last_comp_group = comp_group.name %>
        <% end %>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @building_units.each do |building_unit| %>
        <% concessions = concessions_calc(building_unit) %>
        <tr>
          <td class="width-175"><%= link_to building_unit.building.name + " #" + building_unit.number, edit_building_unit_path(building_unit) %></td>
          <td class="width-225">
            <%= building_unit.floor.to_s + " FL" %>
            <%= building_unit.beds.to_s + "Bed/" + building_unit.baths.to_s + "Bath" %>
            <%= building_unit.sq_feet.to_s + " sq. ft." %>
          </td>
          <td class="width-100"><%= building_unit.market_rent %></td>
          <td class="width-100"><%= concessions %></td>
          <td class="width-75"><%= '%.2f' % (building_unit.market_rent / building_unit.sq_feet) %></td>
          <td class="width-75"><%= '%.2f' % ((building_unit.market_rent - (concessions/12)) / building_unit.sq_feet) %></td>
            <%- CompGroup.all.each do |comp_group| %>
              <%- Geography.all.each do |geography| %>
                  <td class="width-200 grey-td">
                    <% concessions = concessions_calc(building_unit) %>
                    <% comps_1 = comps_query_1(building_unit, comp_group.id, geography.id) %>
                    <% comps_2 = comps_query_2(building_unit, comp_group.id, geography.id) %>
                    <% comps_1.each do |comp| %>
                        <b><%= render partial: "mouseover", locals: {comp: comp, concessions: concessions} %></b>
                    <% end.empty? and begin %>
                        nothing exact<br>
                    <% end %>
                    <% comps_2.each do |comp| %>
                      <%= render partial: "mouseover", locals: {comp: comp, concessions: concessions} %>
                    <% end %>
                    <br>
                  </td>
              <% end %>
            <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<br>
<br>

