<p id="notice"><%= notice %></p>

<h2 class="page-h2">Market Comparison Report</h2>

<div class="clearfix">
  <%= form_tag "/comparisons", :method => 'get', :class => ['pull-left', 'table-filter'] do %>
      <%= select_tag(:geography_filter, options_from_collection_for_select(Geography.all, :id, :name, params[:geography_filter]), prompt: 'Geography') %>
      &nbsp;
      <%= select_tag(:vacancy_filter, options_for_select([['Current vacant', 1], ['Lease ending in the next 30 days', 2], ['Lease ending in the next 60 days', 3], ['Lease ending in the next 90 days', 4], ['Lease ending in the next 120 days', 5]], params[:vacancy_filter]), prompt: 'Show apartments with:') %>
      &nbsp;
      <%= select_tag(:comp_filter, options_for_select([['5', 5], ['29', 29], ['500', 500]], params[:comp_filter]), prompt: 'Show comps within x days:') %>
      &nbsp;
      <%= submit_tag "Filter", {:class=>"btn btn-filter btn-medium btn-secondary"} %>
  <% end %>
  <%= form_tag comparisons_path(format: "xls"), :method => 'get', :class => ['pull-right'] do %>
      <%= hidden_field_tag :geography_filter, params[:geography_filter] %>
      <%= hidden_field_tag :vacancy_filter, params[:vacancy_filter] %>
      <%= submit_tag "Download in Excel", {:class=>"pull-right btn btn-medium btn-secondary"} %>
  <% end %>
</div>

<div class="scroll-table-div">

  <table class="scroll-table_comps comp-table" id="comp-table">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <%- last_comp_group = "" %>
      <%- @compgroups.each do |comp_group| %>
          <%- building_count = Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).count %>
          <%- if building_count > 0 %>
              <%= raw "<th class='no-sort text-center' colspan='#{building_count*3}'>" %>
              <%= comp_group.name.upcase if comp_group.name != last_comp_group %>
              <%= raw "</th>" %>
              <% last_comp_group = comp_group.name %>
          <% end %>
      <% end %>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <%- @compgroups.each do |comp_group| %>
          <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
              <th class="no-sort text-center" colspan="3"><%= comp_building.name %><br><br></th>
          <% end %>
      <% end %>
    </tr>
    <tr>
      <th class="">Building<br><br></th>
      <th class="no-sort">Unit Type<br><br></th>
      <th class="">Available<br><br></th>
      <th class="no-sort">Market Rent<br><br></th>
      <th class="no-sort">Concessions<br><br></th>
      <th class="no-sort">Gross/ft<sup>2</sup><br><br></th>
      <th class="no-sort">Net/ft<sup>2</sup><br><br></th>
      <%- @compgroups.each do |comp_group| %>
          <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
              <th class="no-sort text-center border-separator">Actual Rent<br><br></th>
              <th class="no-sort text-center">Gross/ft<sup>2</sup><br><br></th>
              <th class="no-sort text-center">Net/ft<sup>2</sup><br><br></th>
          <% end %>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @building_units.each do |building_unit| %>
        <% last_import_number = BuildingUnit.where(building_id: building_unit.building_id).order("import_number").last.import_number %>
        <% if building_unit.import_number == last_import_number %>
            <% @additional_row_0 = Array.new %>
            <% @additional_row_1 = Array.new %>
            <% @additional_row_2 = Array.new %>
            <% @additional_row_3 = Array.new %>
            <% @additional_row_4 = Array.new %>
            <%# all_additional_rows = Array.new %>
            <tr class="unit-row">
              <td class=""><%= link_to building_unit.building.name + " #" + building_unit.number, edit_building_unit_path(building_unit) %></td>
              <td class=""><%= unit_type(building_unit) %></td>
              <td class=""><%= available(building_unit) %></td>
              <td class=""><%= number_to_currency(building_unit.market_rent) %></td>
              <td class=""><%= concessions_currency(building_unit, "owned") %></td>
              <td class=""><%= number_to_currency(gross_sq_foot(building_unit)) %></td>
              <td class=""><%= number_to_currency(net_sq_foot(building_unit)) %></td>
              <%- CompGroup.all.each do |comp_group| %>
                  <% additional_row = Array.new %>
                  <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
                      <% counter = 0 %>
                      <% comps_query_1(building_unit, comp_building.id).each do |comp| %>
                          <% if counter == 0 %>
                              <%= render partial: "three_fields", locals: {comp: comp} %>
                          <% else %>
                              <% add_to_array(counter, comp) %>
                          <% end %>
                          <% counter = counter + 1 %>
                      <% end.empty? and begin %>
                          <td class="border-separator">nothing exact</td>
                          <td class="">&nbsp;</td>
                          <td class="">&nbsp;</td>
                          <% counter = counter + 1 %>
                      <% end %>
                      <% comps_query_2(building_unit, comp_building.id).each do |comp| %>
                          <% add_to_array(counter, comp) %>
                          <% counter = counter + 1 %>
                      <% end %>
                      <% while counter < 5 do  %>
                          <% add_to_array(counter, nil) %>
                          <% counter = counter + 1 %>
                      <% end %>
                  <% end %>
              <% end %>
            </tr>
            <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_0} %>
            <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_1} %>
            <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_2} %>
            <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_3} %>
            <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_4} %>
        <% end %>
    <% end %>
    </tbody>
  </table>

</div>