<% if params[:details].present? %>
    <% colspan_value_owned = 8 %>
    <% colspan_value = 6 %>
<% else %>
    <% colspan_value_owned = 7 %>
    <% colspan_value = 3 %>
<% end %>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>7920</WindowHeight>
    <WindowWidth>27080</WindowWidth>
    <WindowTopX>440</WindowTopX>
    <WindowTopY>1640</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="s71">
        <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF" ss:Bold="1"/>
        <Interior ss:Color="#002060" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s72">
        <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF" ss:Bold="1"/>
        <Interior ss:Color="#002060" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s18" ss:Name="Currency">
        <NumberFormat ss:Format="_-&quot;$&quot;* #,##0.00_-;\-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s18_left">
        <Borders>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#4F81BD"/>
        </Borders>
          <NumberFormat ss:Format="_-&quot;$&quot;* #,##0.00_-;\-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s18_border">
        <Borders>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#4F81BD"/>
        </Borders>
        <NumberFormat ss:Format="_-&quot;$&quot;* #,##0.00_-;\-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s18_border_left">
        <Borders>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#4F81BD"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#4F81BD"/>
        </Borders>
          <NumberFormat ss:Format="_-&quot;$&quot;* #,##0.00_-;\-&quot;$&quot;* #,##0.00_-;_-&quot;$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="row_border">
        <Borders>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#4F81BD"/>
        </Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Names>
      <NamedRange ss:Name="Print_Titles" ss:RefersTo="=Sheet1!C1:C8,Sheet1!R1:R2"/>
    </Names>
    <Table>
      <Column ss:Index="1" ss:AutoFitWidth="0" ss:Width="135"/>
      <Column ss:Index="2" ss:AutoFitWidth="0" ss:Width="155"/>
      <Row ss:StyleID="s72">
        <Cell ss:StyleID="s71" ss:MergeAcross="<%= colspan_value_owned-1 %>"><Data ss:Type="String"></Data></Cell>
        <%- last_comp_group = "" %>
        <%- @compgroups.each do |comp_group| %>
            <%- building_count = Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).count %>
            <%- if building_count > 0 %>
                <Cell ss:MergeAcross="<%= (building_count*colspan_value)-1 %>"><Data ss:Type="String">
                  <%= comp_group.name.upcase if comp_group.name != last_comp_group %>
                </Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <% last_comp_group = comp_group.name %>
            <% end %>
        <% end %>
      </Row>
      <Row ss:StyleID="s72">
        <Cell ss:StyleID="s71" ss:MergeAcross="<%= colspan_value_owned-1 %>"><Data ss:Type="String"></Data></Cell>
        <%- @compgroups.each do |comp_group| %>
            <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
                <Cell ss:MergeAcross="<%= colspan_value-1 %>"><Data ss:Type="String"><%= comp_building.name %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
            <% end %>
        <% end %>
      </Row>
      <Row ss:StyleID="s72">
        <Cell ss:StyleID="s71"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Unit Type</Data></Cell>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Available</Data></Cell>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Market Rent</Data></Cell>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Gross/ft2</Data></Cell>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Concession</Data></Cell>
        <% if params[:details].present? %>
            <Cell ss:StyleID="s71"><Data ss:Type="String">Net Rent</Data></Cell>
        <% end %>
        <Cell ss:StyleID="s71"><Data ss:Type="String">Net/ft2</Data></Cell>
        <%- @compgroups.each do |comp_group| %>
            <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
                <% if params[:details].present? %>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Unit Type</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Actual Rent</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Gross/ft2</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Concession</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Net Rent</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Net/ft2</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <% else %>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Actual Rent</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Gross/ft2</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                    <Cell ss:StyleID="s71"><Data ss:Type="String">Net/ft2</Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <% end %>
            <% end %>
        <% end %>
      </Row>
      <% @building_units.sort_by(&:building_id).each do |building_unit| %>
          <% last_import_number = BuildingUnit.where(building_id: building_unit.building_id).order("import_number").last.import_number %>
          <% if building_unit.import_number == last_import_number %>
              <% @additional_row_0 = Array.new %>
              <% @additional_row_1 = Array.new %>
              <% @additional_row_2 = Array.new %>
              <% @additional_row_3 = Array.new %>
              <% @additional_row_4 = Array.new %>
              <Row ss:StyleID="row_border">
                <Cell>
                  <Data ss:Type="String"><%= link_to building_unit.building.name + " #" + building_unit.number, edit_building_unit_path(building_unit) %></Data>
                  <NamedCell ss:Name="Print_Titles"/>
                </Cell>
                <Cell><Data ss:Type="String"><%= unit_type(building_unit) %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <Cell><Data ss:Type="String"><%= available(building_unit) %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <Cell ss:StyleID="s18_border"><Data ss:Type="Number"><%= building_unit.market_rent %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <Cell ss:StyleID="s18_border"><Data ss:Type="Number"><%= gross_sq_foot(building_unit) %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <Cell ss:StyleID="s18_border"><Data ss:Type="Number"><%= concessions_calc(building_unit, "owned") %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <% if params[:details].present? %>
                    <Cell ss:StyleID="s18_border"><Data ss:Type="Number"><%= net_rent(building_unit) %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                <% end %>
                <Cell ss:StyleID="s18_border"><Data ss:Type="Number"><%= net_sq_foot(building_unit) %></Data><NamedCell ss:Name="Print_Titles"/></Cell>
                  <%- CompGroup.all.each do |comp_group| %>
                      <% additional_row = Array.new %>
                      <%- Building.where(competitor: true, comp_group_id: comp_group.id, geography_id: @geography_id).each do |comp_building| %>
                          <% counter = 0 %>
                          <% comps_query_1(building_unit, comp_building.id).each do |comp| %>
                              <% if counter == 0 %>
                                  <% if params[:details].present? %>
                                    <%= render partial: "three_field_details", locals: {comp: comp, cell_style: "s18_border"} %>
                                  <% else %>
                                    <%= render partial: "three_fields", locals: {comp: comp, cell_style: "s18_border"} %>
                                  <% end %>
                              <% else %>
                                  <% add_to_array(counter, comp) %>
                              <% end %>
                              <% counter = counter + 1 %>
                          <% end.empty? and begin %>
                              <Cell ss:MergeAcross="<%= colspan_value-1 %>" ss:StyleID="s18_border_left"><Data ss:Type="String">nothing exact</Data></Cell>
                              <% counter = counter + 1 %>
                          <% end %>
                          <% comps_query_2(building_unit, comp_building.id).each do |comp| %>
                              <% add_to_array(counter, comp) %>
                              <% counter = counter + 1 %>
                          <% end %>
                          <% while counter < 5 do  %>
                              <% add_to_array(counter, nil) %>
                              <% counter = counter + 1 %>
                          <% end %>
                      <% end %>
                  <% end %>
              </Row>
              <% if params[:details].present? %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_0, details: "yes"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_1, details: "yes"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_2, details: "yes"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_3, details: "yes"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_4, details: "yes"} %>
              <% else %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_0, details: "no"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_1, details: "no"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_2, details: "no"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_3, details: "no"} %>
                  <%= render partial: "additional_row", locals: {additional_row_data: @additional_row_4, details: "no"} %>
              <% end %>
          <% end %>
      <% end %>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Layout x:Orientation="Landscape"/>
        <Footer x:Data="&amp;C&amp;&quot;Calibri,Regular&quot;&amp;K000000Page &amp;P of &amp;N&amp;R&amp;&quot;Calibri,Regular&quot;&amp;K000000Printed on &amp;D at &amp;T"/>
      </PageSetup>
      <Unsynced/>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>3</PaperSizeIndex>
        <HorizontalResolution>-4</HorizontalResolution>
        <VerticalResolution>-4</VerticalResolution>
      </Print>
      <PageLayoutZoom>0</PageLayoutZoom>
      <Selected/>
      <FreezePanes/>
      <FrozenNoSplit/>
      <SplitHorizontal>3</SplitHorizontal>
      <TopRowBottomPane>3</TopRowBottomPane>
      <SplitVertical>8</SplitVertical>
      <LeftColumnRightPane>8</LeftColumnRightPane>
      <ActivePane>0</ActivePane>
      <Panes>
        <Pane>
          <Number>3</Number>
        </Pane>
        <Pane>
          <Number>1</Number>
        </Pane>
        <Pane>
          <Number>2</Number>
        </Pane>
        <Pane>
          <Number>0</Number>
          <ActiveRow>12</ActiveRow>
          <ActiveCol>6</ActiveCol>
        </Pane>
      </Panes>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
    <PageBreaks xmlns="urn:schemas-microsoft-com:office:excel">
      <ColBreaks>
        <ColBreak>
          <Column><%= if params[:details].present? then 14 else 16 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 20 else 25 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 26 else 34 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 32 else 43 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 38 else 52 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 44 else 61 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 50 else 70 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 56 else 79 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 62 else 88 end %></Column>
        </ColBreak>
        <ColBreak>
          <Column><%= if params[:details].present? then 68 else 97 end %></Column>
        </ColBreak>
      </ColBreaks>
    </PageBreaks>
  </Worksheet>
</Workbook>
