<p id="notice"><%= notice %></p>


<h2 class="page-h2">Rent Roll for <%= Building.find(params[:building_id]).name %></h2>

<div class="clearfix">
  <%= form_tag "/rent_roll/#{params[:building_id]}", :method => 'get', :class => ['pull-left', 'table-filter'] do %>
      <%= select_tag(:import_number_filter, options_from_collection_for_select(BuildingUnit.select(:building_id, :import_number).where(building_id: params[:building_id]).order(:import_number).distinct, :import_number, :import_number_with_date, @import_number), prompt: 'As Of Date') %>
      <%= submit_tag "Filter", {:class=>"btn btn-filter btn-medium btn-secondary"} %>
  <% end %>
  <%= form_tag rent_roll_path(params[:building_id], format: "xls"), :method => 'get', :class => ['pull-right'] do %>
      <%= hidden_field_tag :import_number_filter, @import_number %>
      <%= submit_tag "Download in Excel", {:class=>"pull-right btn btn-medium btn-secondary"} %>
  <% end %>
</div>

<div class="scroll-table-div">

  <table class="scroll-table rent-roll">
    <thead>
      <tr>
        <th>Number</th>
        <th>Floor</th>
        <th>Beds</th>
        <th>Baths</th>
        <th>Add Room</th>
        <th>Sq feet</th>
        <th>Market rent</th>
        <th>Actual rent</th>
        <th class="wide-column">Lease expiration</th>
        <th>Move out</th>
        <th>Notes<br><br></th>
        <th>Months Off</th>
        <th>Cash Off</th>
        <th>Lease Length</th>
        <th>Lease End Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @building_units.each_with_index do |building_unit, index| %>
        <tr class="<%= (index % 2 == 0) ? 'odd' : 'even' %>">
          <td><%= link_to building_unit.number, edit_building_unit_path(building_unit) %></td>
          <td><%= building_unit.floor %></td>
          <td><%= building_unit.beds %></td>
          <td><%= building_unit.baths %></td>
          <td><%= if building_unit.add_room == true then "Y" end %></td>
          <td><%= building_unit.sq_feet %></td>
          <td><%= number_to_currency(building_unit.market_rent) %></td>
          <td><%= number_to_currency(building_unit.actual_rent) %></td>
          <td class="wide-column"><%= building_unit.lease_expiration.try(:strftime, "%m-%d-%Y") %></td>
          <td><%= building_unit.move_out %></td>
          <td><%= building_unit.notes %></td>
          <td><%= building_unit.months_off %></td>
          <td><%= number_to_currency(building_unit.cash_off) %></td>
          <td><%= building_unit.lease_length %></td>
          <td class="wide-column"><%= building_unit.lease_end_date.try(:strftime, "%m-%d-%Y") %></td>
          <td><%= link_to 'Delete', building_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
