<%= form_for(@building_fee_schedule) do |f| %>
  <% if @building_fee_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_fee_schedule.errors.count, "error") %> prohibited this building_fee_schedule from being saved:</h2>

      <ul>
      <% @building_fee_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="actions">
      <%= f.submit "Save", {:class=>"btn btn-success"} %>
      <%= link_to "cancel", "/building_fee_schedules" %>
    </div>
  <div class="field">
    <br>
    <%= f.label "Parking (with an extra field for comments)" %><br>
    <%= f.text_field :parking %>
    <%= f.text_area :parking_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :parking_extra %><br>
    <%= f.text_field :parking_extra %>
    <%= f.text_area :parking_extra_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :security_deposit %><br>
    <%= f.text_field :security_deposit %>
    <%= f.text_area :security_deposit_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :amenity_fee %><br>
    <%= f.text_field :amenity_fee %>
    <%= f.text_area :amenity_fee_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :trash_fee %><br>
    <%= f.text_field :trash_fee %>
    <%= f.text_area :trash_fee_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :pet_deposit %><br>
    <%= f.text_field :pet_deposit %>
    <%= f.text_area :pet_deposit_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :pet_dog %><br>
    <%= f.text_field :pet_dog %>
    <%= f.text_area :pet_dog_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :pet_cat %><br>
    <%= f.text_field :pet_cat %>
    <%= f.text_area :pet_cat_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :application_fee %><br>
    <%= f.text_field :application_fee %>
    <%= f.text_area :application_fee_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :minimum_lease %><br>
    <%= f.number_field :minimum_lease %>
    <%= f.text_area :minimum_lease_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :monthly_fees %><br>
    <%= f.text_field :monthly_fees %>
    <%= f.text_area :monthly_fees_ %>
  </div>
  <div class="field">
    <br>
    <%= f.label :yearly_fees %><br>
    <%= f.text_field :yearly_fees %>
    <%= f.text_area :yearly_fees_ %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit "Save", {:class=>"btn btn-success"} %>
    <%= link_to "cancel", "/building_fee_schedules" %>
  </div>
<% end %>
