<p id="notice"><%= notice %></p>

<div class="clearfix">
  <h2 class="pull-left reset-margin">Building Fee Schedules</h2>

  <%= link_to "Download in Excel", building_fee_schedules_path(format: "xls"), {class: 'btn btn-medium btn-secondary pull-right'} %>
</div>

<div class="scroll-table-div">

<table class="scroll-table">
  <thead>
    <tr>
      <th class="extra"></th>
      <th>Parking</th>
      <th>Parking Extra</th>
      <th>Amenity Fee</th>
      <th>Trash Fee</th>
      <th>Security Deposit</th>
      <th>Pet Deposit</th>
      <th>Pet Dog</th>
      <th>Pet Cat</th>
      <th>Application Fee</th>
      <th>Minimum Lease<br></th>
    </tr>
  </thead>

  <tbody>
  <%- last_geography_id = 0 %>
    <% @building_fee_schedules.each do |building_fee_schedule| %>
      <%- if building_fee_schedule.building.geography_id != last_geography_id %>
          <tr><td colspan='11'><br><b><i>
            <% if building_fee_schedule.building.geography_id == nil %>
                No Geography Assigned
            <% else %>
                <%= Geography.find(building_fee_schedule.building.geography_id).name %>
            <% end %>
          </i></b></td></tr>
      <%- end %>
      <%- last_geography_id = building_fee_schedule.building.geography_id %>
      <tr>
        <td class="extra">
          <%= if building_fee_schedule.building.competitor == true then raw "<b>comp</b>" end %>
          <%= link_to building_fee_schedule.building.name, edit_building_fee_schedule_path(building_fee_schedule) %>
        </td>
        <td<%=cell_color(building_fee_schedule.parking)%>>
          <%= dollar_monthly(building_fee_schedule.parking) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.parking_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.parking_extra)%>>
          <%= dollar_monthly(building_fee_schedule.parking_extra) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.parking_extra_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.amenity_fee)%>>
          <%= dollar_monthly(building_fee_schedule.amenity_fee) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.amenity_fee_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.trash_fee)%>>
          <%= dollar_monthly(building_fee_schedule.trash_fee) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.trash_fee_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.security_deposit)%>>
          <%= dollar_onetime(building_fee_schedule.security_deposit) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.security_deposit_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.pet_deposit)%>>
          <%= dollar_onetime(building_fee_schedule.pet_deposit) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.pet_deposit_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.pet_dog)%>>
          <%= dollar_monthly(building_fee_schedule.pet_dog) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.pet_dog_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.pet_cat)%>>
          <%= dollar_monthly(building_fee_schedule.pet_cat) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.pet_cat_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.application_fee)%>>
          <%= dollar_onetime(building_fee_schedule.application_fee) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.application_fee_} %>
        </td>
        <td<%=cell_color(building_fee_schedule.minimum_lease)%>>
          <%= number_weeks(building_fee_schedule.minimum_lease) %>
          <%= render partial: "shared/comment", locals: {comment_field: building_fee_schedule.minimum_lease_} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>