<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @building_fee_schedule.building_id %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @building_fee_schedule.parking %>
</p>

<p>
  <strong>Parking :</strong>
  <%= @building_fee_schedule.parking_ %>
</p>

<p>
  <strong>Parking extra:</strong>
  <%= @building_fee_schedule.parking_extra %>
</p>

<p>
  <strong>Parking extra :</strong>
  <%= @building_fee_schedule.parking_extra_ %>
</p>

<p>
  <strong>Security deposit:</strong>
  <%= @building_fee_schedule.security_deposit %>
</p>

<p>
  <strong>Security deposit :</strong>
  <%= @building_fee_schedule.security_deposit_ %>
</p>

<p>
  <strong>Amenity fee:</strong>
  <%= @building_fee_schedule.amenity_fee %>
</p>

<p>
  <strong>Amenity fee :</strong>
  <%= @building_fee_schedule.amenity_fee_ %>
</p>

<p>
  <strong>Trash fee:</strong>
  <%= @building_fee_schedule.trash_fee %>
</p>

<p>
  <strong>Trash fee :</strong>
  <%= @building_fee_schedule.trash_fee_ %>
</p>

<p>
  <strong>Pet deposit:</strong>
  <%= @building_fee_schedule.pet_deposit %>
</p>

<p>
  <strong>Pet deposit :</strong>
  <%= @building_fee_schedule.pet_deposit_ %>
</p>

<p>
  <strong>Pet dog:</strong>
  <%= @building_fee_schedule.pet_dog %>
</p>

<p>
  <strong>Pet dog :</strong>
  <%= @building_fee_schedule.pet_dog_ %>
</p>

<p>
  <strong>Pet cat:</strong>
  <%= @building_fee_schedule.pet_cat %>
</p>

<p>
  <strong>Pet cat :</strong>
  <%= @building_fee_schedule.pet_cat_ %>
</p>

<p>
  <strong>Application fee:</strong>
  <%= @building_fee_schedule.application_fee %>
</p>

<p>
  <strong>Application fee :</strong>
  <%= @building_fee_schedule.application_fee_ %>
</p>

<p>
  <strong>Minimum lease:</strong>
  <%= @building_fee_schedule.minimum_lease %>
</p>

<p>
  <strong>Minimum lease :</strong>
  <%= @building_fee_schedule.minimum_lease_ %>
</p>

<p>
  <strong>Monthly fees:</strong>
  <%= @building_fee_schedule.monthly_fees %>
</p>

<p>
  <strong>Monthly fees :</strong>
  <%= @building_fee_schedule.monthly_fees_ %>
</p>

<p>
  <strong>Yearly fees:</strong>
  <%= @building_fee_schedule.yearly_fees %>
</p>

<p>
  <strong>Yearly fees :</strong>
  <%= @building_fee_schedule.yearly_fees_ %>
</p>

<%= link_to 'Edit', edit_building_fee_schedule_path(@building_fee_schedule) %> |
<%= link_to 'Back', building_fee_schedules_path %>
