- if dpm_admin
  can see everything
- else
  -#TODO - also filter by owner_id
  %table
    %tr
      %th
        Geography&nbsp;
      %th
        All&nbsp;&nbsp;&nbsp;
      %th
        Some&nbsp;
      %th
        None
    - Geography.all.each do |geography|
      - already_selected = true if UserGeography.where(user_id: user_id, geography_id: geography.id).count > 0
      %tr
        %td
          = geography.name
        %td
          = radio_button_tag geography.name, 'all', already_selected, onclick: "$.ajax('/user_buildings.js?user_id=#{user_id}&geography_id=#{geography.id}&selection=all');return true;"
        %td
          = radio_button_tag geography.name, 'partial', false, onclick: "$.ajax('/user_buildings.js?user_id=#{user_id}&geography_id=#{geography.id}&selection=partial');return true;"
        %td
          = radio_button_tag geography.name, 'none', false, onclick: "$.ajax('/user_buildings.js?user_id=#{user_id}&geography_id=#{geography.id}&selection=none');return true;"

  %br
  - Geography.all.each do |geography|
    = raw "<div id='#{geography.id}'></div>"