<p id="notice"><%= notice %></p>

<h3>User Approvals for <%= current_user.owner.name %></h3>

<br>
<br>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th>Super Admin</th>
    <th>Owner Admin</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= if user.approved == true then raw "<i>Approved</i>" end %></td>
        <td><%= link_to 'Change...', edit_user_path(user) %></td>
        <td>
          <% if user.super_admin? %>
              <%= form_for(user, :url => toggle_super_admin_user_path(user), :html => {:method => :post} ) do |f| %>
                  <%= f.submit "Take away" %>
              <% end %>
          <% else %>
              <%= form_for(user, :url => toggle_super_admin_user_path(user), :html => {:method => :post} ) do |f| %>
                  <%= f.submit "Give" %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% if user.owner_admin? %>
              <%= form_for(user, :url => toggle_owner_admin_user_path(user), :html => {:method => :post} ) do |f| %>
                  <%= f.submit "Take away" %>
              <% end %>
          <% else %>
              <%= form_for(user, :url => toggle_owner_admin_user_path(user), :html => {:method => :post} ) do |f| %>
                  <%= f.submit "Give" %>
              <% end %>
          <% end %>

        </td>
        <td><%= link_to 'Geographies...', "/geographies/user/#{user.id}" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path %>
