<p id="notice"><%= notice %></p>

<h3>User Approvals for <%= current_user.owner.name %></h3>

<i>When new users create an account (and select an Owner), they will need approval to actually start seeing that owner's buildings -- <b>however, I have not yet restricted access based on the value of this field</b></i>
<br>
<br>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= if user.approved == true then raw "<i>Approved</i>" end %></td>
        <td><%= link_to 'Change', edit_user_path(user) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
