FOR TESTING PURPOSES ONLY
%br
%b
  Logged-in user's buildings:
= @current_user_buildings
%br
%b
  Selected user's buildings:
= @user_buildings
%br
%b
  Logged-in user's geographies:
= @current_user_geographies
%br
%b
  Selected user's geographies:
= @user_geographies
%br
%br
%h3 User Setup > Geographies & Buildings
%br
= link_to "Done", user_assignments_path, {:class=>"btn btn-success"}
%br
%br
%b
  User:
= User.find(params[:user_id]).email
%br
%br
- if current_user.super_admin
  = select_tag :owner_id, options_from_collection_for_select(Owner.all, :id, :name, params[:owner_id]), { include_blank: true, onchange: "javascript:$.ajax('/user_buildings.js?user_id=#{params[:user_id]}&owner_id=' + this.value);return false;" }
  %br
  %br
= select_tag :dpm_admin, options_for_select([['Director Of Property Management (DPM)', 'true'], ['Property Manager (PM)', 'false']], @dpm_admin), { include_blank: true, onchange: "javascript:$.ajax('/user_buildings.js?user_id=#{params[:user_id]}');return false;" }
%br
%br

#geography_container
  = render partial: "/users/geographies_", locals: { dpm_admin: @dpm_admin, owner_id: params[:owner_id], user_id: params[:user_id] }

= link_to "Done", user_assignments_path, {:class=>"btn btn-success"}
