<%= form_for(@building_occupancy) do |f| %>
  <% if @building_occupancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_occupancy.errors.count, "error") %> prohibited this building_occupancy from being saved:</h2>

      <ul>
      <% @building_occupancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_id %><br>
    <%= f.collection_select :building_id, @buildings, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :occupancy_rate %><br>
    <%= f.text_field :occupancy_rate %>
  </div>
  <div class="field">
    <%= f.label :leased_rate %><br>
    <%= f.text_field :leased_rate %>
  </div>
  <div class="field">
    <%= f.label :as_of_date %><br>
    <%= f.date_select :as_of_date %>
  </div>
  <div class="actions"><br>
    <%= f.submit "Save", {:class=>"btn btn-success"} %>
  </div>
<% end %>
