<%= form_for(@building_occupancy) do |f| %>
  <% if @building_occupancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_occupancy.errors.count, "error") %> prohibited this building_occupancy from being saved:</h2>

      <ul>
      <% @building_occupancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :building_id %>
    <%= f.collection_select :building_id, @buildings, :id, :name, include_blank: true %>
  </div>
  <div class="row">
    <div class="col-sm-4 field">
      <%= f.label :occupancy_rate %>
      <%= f.text_field :occupancy_rate, {:class => 'js-numbers-only', :data => {'allow-decimal' => 'true'}} %>
    </div>
    <div class="col-sm-4 field">
      <%= f.label :leased_rate %>
      <%= f.text_field :leased_rate, {:class => 'js-numbers-only', :data => {'allow-decimal' => 'true'}} %>
    </div>
    <div class="col-sm-4 field">
      <%= f.label :as_of_date %>
      <%= f.text_field :as_of_date, {:class => 'datepicker'} %>
    </div>
  </div>
  <div class="actions">
    <span class="hidden"><input type="checkbox" name="add_another" id="add_another" value="1" /></span>
    <%= f.submit "Save & Exit", {:class=>"btn btn-success"} %>
    <%= f.button "Save & Continue", {:class=>"btn btn-success btn-save-continue"} %>
    <%= link_to 'Cancel', building_occupancies_path, {:class=>"btn btn-cancel"} %>
  </div>
<% end %>
