<table class="building-occupancy-table">
  <thead>
  <tr>
    <th class="no-sort">Geography</th>
    <th>Building</th>
    <th class="no-sort">Occupancy rate</th>
    <th class="no-sort">Leased rate</th>
    <th>As of date</th>
    <th class="no-sort"></th>
  </tr>
  </thead>

  <tbody>
  <% building_occupancies.each_with_index do |building_occupancy, index| %>
      <tr class="<%= (index % 2 == 0) ? 'odd' : 'even' %>">
        <td><% if building_occupancy.building.geography_id == nil %>No Geography Assigned<% else %><%= Geography.find(building_occupancy.building.geography_id).name %><% end %></td>
        <td><%= link_to building_occupancy.building.name, edit_building_occupancy_path(building_occupancy) %></td>
        <td><%= number_to_percentage(building_occupancy.occupancy_rate, precision:1) %></td>
        <td><%= number_to_percentage(building_occupancy.leased_rate, precision:1) %></td>
        <td><%= building_occupancy.as_of_date %></td>
        <td><%= link_to 'Delete', building_occupancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>