<h1> All Data </h1>

<table id="analysis-data" class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Building Unit ID</th>
			<th>Property</th>
			<th>TimeStamp</th>
			<th>year</th>
			<th>quarter</th>
			<th>month</th>
			<th>gross rent</th>
			<th>net rent sf</th>
			<th>net rent</th>
		</tr>
	</thead>
	<tbody>
		<% @analyses.each do |analysis| %>
			<tr>
				<td><%= analysis.building_unit %></td>
				<td><%= analysis.property %></td>
				<td><%= analysis.timestamp %></td>
				<td><%= analysis.year %></td>
				<td><%= analysis.quarter %></td>
				<td><%= analysis.month %></td>
				<td><%= analysis.gross_rent %></td>
				<td><%= analysis.net_rent_sf %></td>
				<td><%= analysis.net_rent %></td>
			</tr>
		<% end %>
	</tbody>
</table>