.row
  .col-md-1
  .col-md-8
    %p#notice
      = notice
    %br
    %br
    - if current_user
      - if current_user.owner_id != nil
        %br
        %br
        %b
          = "#{current_user.owner.name}_Admin Only:"
        %br
        %br
        = link_to "User Approvals", "/users"
        %br
        %br

        = form_tag import_building_units_path, multipart: true do
          <table><tr><td width="300">
          <h4>Import New Yardi Data</h4>
          = file_field_tag :file
          = hidden_field_tag :building_id, params[:building_id]
          = submit_tag "Import", {:class=>"btn btn-success"}
        %br
        %br
        %br
        %br
        %b
          RCG_Admin Only:
        %br
        %br
        = link_to "Owners", "/owners"
        %br
        = link_to "Comp Groups", "/comp_groups"
        %br
        = link_to "Geographies", "/geographies"
        %br
        %br
      - else
        Please request approval to see your buildings
      %br
      %br
      %br
      %br
      = link_to "Log Out", logout_path, {:class=>"btn btn-success"}
      &nbsp;&nbsp;
      = "#{current_user.email}"
      %br
      %br
      %br
    - else
      = link_to "Create Account", signup_path, {:class=>"btn btn-primary"}
      &nbsp;&nbsp;
      = link_to "Log In", login_path, {:class=>"btn btn-success"}
      %br
      %br
      %br
  .col-md-3
