.row
  .col-md-1
  .col-md-8
    %p#notice
      = notice
    %br
    - if current_user
      - if current_user.owner_id != nil && current_user.owner_admin
        %h3
          = "Director of PM only:"
          -#= "#{current_user.owner.name} Director of PM Only:"
        %br
        -#%br
        -#= link_to "User Approvals", "/users"
        -#%br
        -#%br
        %br
        %b
          Import floor/beds/baths Building Data - insert and/or update
        = form_tag import_building_units_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Import", {:class=>"btn btn-success"}
        %br
        %br
        %b
          Import Yardi Data - update only
        = form_tag import_yardi_1_building_units_path, multipart: true do
          = file_field_tag :file
          = hidden_field_tag :building_id, params[:building_id]
          = submit_tag "Import", {:class=>"btn btn-success"}
        %br
        %br
        %br
      - if current_user.id == 1 or current_user.id == 3
        %h3
          Ronan Admin Only:
          -#Super Admin Only:
        %br
        = link_to "Make Director of PM Assignments", "/users"
        %br
        %br
        = link_to "Owners", "/owners"
        %br
        = link_to "Comp Groups", "/comp_groups"
        %br
        = link_to "Geographies", "/geographies"
        -#%br
        -#= link_to "Change Owner View", "#"
        %br
        %br


      -#- else
        -#Please request approval to see your buildings
      %br
      %br
      %br
      %br
      = link_to "Log Out", logout_path, {:class=>"btn btn-success"}
      &nbsp;&nbsp;
      = "#{current_user.email}"
      %br
      %br
      %br
    - else
      = link_to "Create Account", signup_path, {:class=>"btn btn-primary"}
      &nbsp;&nbsp;
      = link_to "Log In", login_path, {:class=>"btn btn-success"}
      %br
      %br
      %br
  .col-md-3
