.row
  .col-md-1
  .col-md-8
    %br
    %br
    - if current_user
      - if current_user.owner_id != nil
        %b
          Your Buildings:
        %br
        - Building.where(owner_id: current_user.owner_id).each do |building|
          %br
          = building.name
          &nbsp;&nbsp;
          = link_to "-edit", edit_building_path(building.id)
          &nbsp;&nbsp;
          = link_to "-view rent roll", "/rent_roll/#{building.id}"
        %br
        %br
        = link_to "Add New Building", new_building_path
        %br
        %br
        %br
        %br
        %b
          New Users Requiring Approval to see your Buildings:
        %br
        %br
        %i
          Feature coming soon
        %br
        %br
      - else
        Please request approval to see your buildings
      %br
      %br
      %br
      %br
      = link_to "Log Out", logout_path, {:class=>"btn btn-success"}
      &nbsp;&nbsp;
      = "#{current_user.email}"
    - else
      = link_to "Sign Up", signup_path
      = "or"
      = link_to "Log In", login_path, {:class=>"btn btn-success"}
  .col-md-3
