.row
  .col-md-1
  .col-md-8
    %p#notice
      = notice
    - if current_user
      - if current_user.super_admin
        %h3
          Super Admin only:
        %br
        = link_to "Companies", "/owners"
        %br
        = link_to "DPM Assignments", "/users"
        %br
        %br
        = link_to "Comp Groups", "/comp_groups"
        %br
        = link_to "Geographies", "/geographies"
        %br
        %br
      - if current_user.owner_id != nil && current_user.owner_admin
        %h3
          Director of PM only:
        - if ENV['PROD_ENV'] == nil
          %br
          = link_to "User Setup & Authorization (not yet tied into page authorization logic)", "/user_assignments"
          %br
          %br
        %br
        - counter = 0
        -# TODO - query needs to filter by owner
        - Building.where(competitor: false).order('name ASC').each do |building|
          - if BuildingUnit.where(building_id: building.id).count == 0
            - counter = 1
            %h4
              = "Building Setup for #{building.name}"
              %br
            = form_tag import_building_units_path, multipart: true do
              = file_field_tag :file
              = hidden_field_tag :building_id, building.id
              %br
              = submit_tag "Import", {:class=>"btn btn-success"}
              %br
              %br
        - if counter == 0
          %i
            All Buildings have Setup data
          %br
        %br
        = form_tag import_yardi_1_building_units_path, multipart: true, class: 'index-import-form' do
          %fieldset
            %legend
              %h4
                Import Rent Roll
            = file_field_tag :file
            %br
            %table{:cellpadding => 5}
              %tr
                %td
                  Building
                %td
                  &nbsp;
                  = collection_select :building, :id, Building.where(competitor: false).order('name ASC'), :id, :name, include_blank: true
              %tr
                %td
                  As Of Date
                %td
                  &nbsp;
                  = date_field_tag :as_of_date, Date.today
              %tr
                %td{:colspan => 2}
                  %fieldset
                    %legend
                      %h4
                        Add Concessions (optional)
                    %table
                      %tr
                        %td
                          Months Off
                        %td
                          &nbsp;
                          = text_field_tag :months_off
                      %tr
                        %td
                          Cash Off
                        %td
                          %div{:class => 'dollar-input-container'}
                            %i $
                            = text_field_tag :cash_off, '', class: 'js-numbers-only', data: { 'allow-decimal': true }
                      %tr
                        %td
                          Lease Length
                        %td
                          &nbsp;
                          = text_field_tag :lease_length
                      %tr
                        %td
                          Apply concession to leases through
                        %td
                          &nbsp;
                          = date_field_tag :lease_end_date
              %tr
            %br
            = submit_tag "Import Rent Roll", {:class=>"btn btn-success"}
        %br
        %br

      %br
      %br
      %br
      %br
      = link_to "Log Out", logout_path, {:class=>"btn btn-success"}
      &nbsp;&nbsp;
      = "#{current_user.email}"
      %br
      %br
      %br
    - else
      = link_to "Create Account", signup_path, {:class=>"btn btn-primary"}
      &nbsp;&nbsp;
      = link_to "Log In", login_path, {:class=>"btn btn-primary"}
      %br
      %br
      %br
  .col-md-3
