<p id="notice"><%= notice %></p>

<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :owner_id, value: current_user.owner_id %>

  <!--<div class="field">-->
    <%#= f.label :owner %><br>
    <!--<%#= f.collection_select :owner_id, Owner.all, :id, :name, include_blank: true %>-->
  <!--</div>-->
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "50" %>
  </div>
    <div class="field">
      <%= f.label "Ownership" %><br>
      <%= f.radio_button :competitor, false, onClick: "document.getElementById('comp_group').style.display='none';" %>&nbsp;Owned by <%= current_user.owner.name %>&nbsp;&nbsp;
      <%= f.radio_button :competitor, true, onClick: "document.getElementById('comp_group').style.display='';" %>&nbsp;Competitor Building
    </div>
    <div class="field" id="comp_group" style="<%= if @building.competitor == false then 'display:none;' end %>">
      <br>
      <%= f.label "Comp Group" %><br>
      <%= f.select :comp_group_id, options_from_collection_for_select(CompGroup.all, :id, :name, @building.comp_group_id), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :geography_id %><br>
      <%= f.select :geography_id, options_from_collection_for_select(Geography.all, :id, :name, @building.geography_id), :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :manager %><br>
      <%= f.text_field :manager, size: "50" %>
    </div>
    <div class="field">
      <%= f.label :manager_email %><br>
      <%= f.text_field :manager_email, size: "50" %>
    </div>
    <div class="row">
      <div class="field col-sm-6">
        <%= f.label :manager_phone %><br>
        <%= f.telephone_field :manager_phone %>
      </div>
      <div class="field col-sm-6">
        <%= f.label "General Phone" %><br>
        <%= f.telephone_field :phone %>
      </div>
    </div>
    <div class="field">
      <%= f.label :website %><br>
      <%= f.text_field :website, size: "50" %><%= if @building.website != nil && @building.website != "" then link_to "Take Me There", url_with_protocol(@building.website), {:target => :_blank, :class=>"btn btn-primary btn-medium field-button"} end %>
    </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "50x5" %>
  </div>
  <div class="row">
    <div class="field col-sm-4">
      <%= f.label :number_of_units %><br>
      <%= f.text_field :number_of_units, size: "10" %>
    </div>
    <div class="field col-sm-4">
      <%= f.label :year_built %><br>
      <%= f.select :year_built, (1950..Time.now.year).to_a, :include_blank => {:year_built => "Select year"} %>
    </div>
    <div class="field col-sm-4">
      <%= f.label :year_remodeled %><br>
      <%= f.select :year_remodeled, (1950..Time.now.year).to_a, :include_blank => {:year_built => "Select year"} %>
    </div>
  </div>
    <br>
    <%= f.submit "Submit", {:class=>"btn btn-success"} %>
    <%= link_to 'cancel', root_path %>
    <br>
    <br>
<% end %>
