<%= form_for(@building) do |f| %>
  <% if @building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% @building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :owner_id, value: current_user.owner_id %>

  <!--<div class="field">-->
    <%#= f.label :owner %><br>
    <!--<%#= f.collection_select :owner_id, Owner.all, :id, :name, include_blank: true %>-->
  <!--</div>-->
    <%= f.submit "Submit", {:class=>"btn btn-success"} %>
    <%= link_to 'cancel', root_path %>
    <br>
    <br>
    <i>Two column format coming soon</i>
    <br>
    <br>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "50" %>
  </div>
    <div class="field">
      <br>
      <%= f.label "Ownership" %><br>
      <%= f.radio_button :competitor, false %>&nbsp;Owned by <%= current_user.owner.name %>&nbsp;&nbsp;
      <%= f.radio_button :competitor, true %>&nbsp;Competitor Building
    </div>
    <div class="field">
      <br>
      <%= f.label :geography_id %><br>
      <%= f.select :geography_id, options_from_collection_for_select(Geography.all, :id, :name, @building.geography_id), :include_blank => true %>
    </div>
    <div class="field">
      <br>
      <%= f.label :manager %><br>
      <%= f.text_field :manager, size: "50" %>
    </div>
    <div class="field">
      <%= f.label :website %><br>
      <%= f.text_field :website, size: "50" %>
    </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "50x5" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :number_of_units %><br>
    <%= f.number_field :number_of_units %>
  </div>
  <div class="field">
    <%= f.label :year_built %><br>
    <%= f.number_field :year_built %>
  </div>
  <div class="field">
    <%= f.label :year_remodeled %><br>
    <%= f.number_field :year_remodeled %>
  </div>
    <br>
    <%= f.submit "Submit", {:class=>"btn btn-success"} %>
    <%= link_to 'cancel', root_path %>
    <br>
    <br>
    <div class="field">
      <%= f.label :comp_group_id %><br>
      <%= f.number_field :comp_group_id %>
    </div>
    <br>
<% end %>
