%h3
  - if current_user.super_admin
    User Setup for All Companies
  - elsif current_user.owner_admin
    User Setup for
    = Owner.find(current_user.owner_id).name

%br

%p#notice
  = notice

%h4
  Existing Users

%table
  %tr
    %th
    %th
    %th
      &nbsp;&nbsp;&nbsp;
    %th Name
    - if current_user.super_admin
      %th
        &nbsp;&nbsp;&nbsp;
      %th Company
    %th
      &nbsp;&nbsp;&nbsp;
    %th Role
    %th
      &nbsp;&nbsp;&nbsp;
    %th
      = "# of Buildings"
    %th
      Inactive
    %th
      &nbsp;&nbsp;&nbsp;
  - @users.each do |user|
    %tr
      %td
        = user.id
        &nbsp;
      %td
        = user.email
      %td
        &nbsp;&nbsp;&nbsp;
      %td
        = user.first_name
        = user.last_name
      - if current_user.super_admin
        %td
          &nbsp;&nbsp;&nbsp;
        %td
          = Owner.find(user.owner_id).name unless user.owner_id == nil
      %td
        &nbsp;&nbsp;&nbsp;
      %td
        - if user.super_admin
          Super
        - elsif user.owner_admin
          DPM
        - else
          PM
        -#= link_to "change", "/toggle_dpm_admin?owner_id=#{owner_user.owner_id.to_s}&user_id=#{owner_user.user_id.to_s}"
      %td
        &nbsp;&nbsp;&nbsp;
      %td
        -#- unless owner_user.dpm_admin == true
        -#  - UserGeography.where(user_id:owner_user.user_id).each do |user_geography|
        -#    = user_geography.geography.name + " "
        -#  = link_to "change", "/user_geographies?user_id=#{owner_user.user_id}"
      %td
        = "Y" unless user.active
      %td
        = link_to "edit", "/user_buildings?owner_id=#{user.owner_id}&user_id=#{user.id}"

%br
%br

%h4
  New User

= form_for User.new do |f|
  = f.hidden_field :password, value: "test"
  = f.hidden_field :password_confirmation, value: "test"
  = f.label :email
  %br
  = f.text_field :email, size: "30"
  %br
  - if current_user.super_admin
    = f.label :owner, "Company"
    %br
    = f.collection_select :owner_id, Owner.all, :id, :name, include_blank: true
    %br
  - elsif current_user.owner_admin
    = f.hidden_field :owner_id, value: current_user.owner_id
  = f.label :owner_admin, "DPM"
  &nbsp;
  = f.check_box :owner_admin
  %br
  = f.submit "Create New User", {:class=>"btn btn-primary"}