<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @building_unit_amenity.building_id %>
</p>

<p>
  <strong>Washer dryer:</strong>
  <%= @building_unit_amenity.washer_dryer %>
</p>

<p>
  <strong>Washer dryer :</strong>
  <%= @building_unit_amenity.washer_dryer_ %>
</p>

<p>
  <strong>Microwave:</strong>
  <%= @building_unit_amenity.microwave %>
</p>

<p>
  <strong>Microwave :</strong>
  <%= @building_unit_amenity.microwave_ %>
</p>

<p>
  <strong>Security alarm:</strong>
  <%= @building_unit_amenity.security_alarm %>
</p>

<p>
  <strong>Security alarm :</strong>
  <%= @building_unit_amenity.security_alarm_ %>
</p>

<p>
  <strong>Amenity ceiling:</strong>
  <%= @building_unit_amenity.amenity_ceiling_id %>
</p>

<p>
  <strong>Ceiling :</strong>
  <%= @building_unit_amenity.ceiling_ %>
</p>

<p>
  <strong>Amenity patio:</strong>
  <%= @building_unit_amenity.amenity_patio_id %>
</p>

<p>
  <strong>Patio :</strong>
  <%= @building_unit_amenity.patio_ %>
</p>

<p>
  <strong>Oversized windows:</strong>
  <%= @building_unit_amenity.oversized_windows %>
</p>

<p>
  <strong>Oversized windows :</strong>
  <%= @building_unit_amenity.oversized_windows_ %>
</p>

<p>
  <strong>Other:</strong>
  <%= @building_unit_amenity.other %>
</p>

<p>
  <strong>Other :</strong>
  <%= @building_unit_amenity.other_ %>
</p>

<%= link_to 'Edit', edit_building_unit_amenity_path(@building_unit_amenity) %> |
<%= link_to 'Back', building_unit_amenities_path %>
