<p id="notice"><%= notice %></p>

<h3>Geographies</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @geographies.each do |geography| %>
      <tr>
        <td><%= geography.name %></td>
        <td><%= link_to 'Edit', edit_geography_path(geography) %></td>
        <td><%= link_to 'Destroy', geography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geography', new_geography_path %>
