<p id="notice"><%= notice %></p>

<h2>Building Amenities for <%= current_user.owner.name %> & Competitors</h2>

<div class="scroll-table-div">

<table>
  <thead>
    <tr>
      <th></th>
      <th>Washer dryer</th>
      <th>Microwave</th>
      <th>Security alarm</th>
      <th><%= link_to "Ceiling", "/amenity_ceilings" %></th>
      <th><%= link_to "Patio", "/amenity_patios" %></th>
      <th>Oversized windows</th>
      <th>Other</th>
      <th>|||||</th>
      <th>Business center</th>
      <th>Resident lounge</th>
      <th>Screening room</th>
      <th>Rooftop deck</th>
      <th>Train station</th>
      <th>Pool</th>
      <th>Gated</th>
      <th><%= link_to "Concierge", "/amenity_concierges" %></th>
      <th>Recreation</th>
      <th>Fitness</th>
      <th>Other</th>
      <!--<th>amentity 1 name</th>-->
      <!--<th>amentity 2 name</th>-->
      <!--<th>amentity 3 name</th>-->
      <!--<th>amentity 11 name</th>-->
      <!--<th>amentity 12 name</th>-->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @building_amenities.each do |building_amenity| %>
        <% building_unit_amenity = BuildingUnitAmenity.where(building_id: building_amenity.building_id).first %>
      <tr>
        <td>
          <%= if building_unit_amenity.building.competitor == true then raw "<b>comp</b>" end %>
          <%= link_to building_unit_amenity.building.name, edit_building_unit_amenity_path(building_unit_amenity) %>
        </td>
        <td<%=cell_color(building_unit_amenity.washer_dryer)%>>
          <%= if building_unit_amenity.washer_dryer == true then "Y" elsif building_unit_amenity.washer_dryer == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_unit_amenity.washer_dryer_} %>
        </td>
        <td<%=cell_color(building_unit_amenity.microwave)%>>
          <%= if building_unit_amenity.microwave == true then "Y" elsif building_unit_amenity.microwave == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_unit_amenity.microwave_} %>
        </td>
        <td<%=cell_color(building_unit_amenity.security_alarm)%>>
          <%= if building_unit_amenity.security_alarm == true then "Y" elsif building_unit_amenity.security_alarm == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_unit_amenity.security_alarm_} %>
        </td>
        <td<%=cell_color(building_unit_amenity.amenity_ceiling_id)%>>
          <%= AmenityCeiling.find(building_unit_amenity.amenity_ceiling_id).name if building_unit_amenity.amenity_ceiling_id != nil %>
        </td>
        <td<%=cell_color(building_unit_amenity.amenity_patio_id)%>>
          <%= AmenityPatio.find(building_unit_amenity.amenity_patio_id).name if building_unit_amenity.amenity_patio_id != nil %>
        </td>
        <td<%=cell_color(building_unit_amenity.oversized_windows)%>>
          <%= if building_unit_amenity.oversized_windows == true then "Y" elsif building_unit_amenity.oversized_windows == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_unit_amenity.oversized_windows_} %>
        </td>
        <td<%=cell_color(building_unit_amenity.other)%>>
          <%= building_unit_amenity.other %>
        </td>
        <td>|||||</td>
        <td<%=cell_color(building_amenity.business_center)%>>
          <%= if building_amenity.business_center == true then "Y" elsif building_amenity.business_center == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.business_center_} %>
        </td>
        <td<%=cell_color(building_amenity.resident_lounge)%>>
          <%= if building_amenity.resident_lounge == true then "Y" elsif building_amenity.resident_lounge == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.resident_lounge_} %>
        </td>
        <td<%=cell_color(building_amenity.screening_room)%>>
          <%= if building_amenity.screening_room == true then "Y" elsif building_amenity.screening_room == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.screening_room_} %>
        </td>
        <td<%=cell_color(building_amenity.rooftop_deck)%>>
          <%= if building_amenity.rooftop_deck == true then "Y" elsif building_amenity.rooftop_deck == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.rooftop_deck_} %>
        </td>
        <td<%=cell_color(building_amenity.train_station)%>>
          <%= if building_amenity.train_station == true then "Y" elsif building_amenity.train_station == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.train_station_} %>
        </td>
        <td<%=cell_color(building_amenity.pool)%>>
          <%= if building_amenity.pool == true then "Y" elsif building_amenity.pool == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.pool_} %>
        </td>
        <td<%=cell_color(building_amenity.gated)%>>
          <%= if building_amenity.gated == true then "Y" elsif building_amenity.gated == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.gated_} %>
        </td>
        <td<%=cell_color(building_amenity.amenity_concierge_id)%>>
          <%= AmenityConcierge.find(building_amenity.amenity_concierge_id).name if building_amenity.amenity_concierge_id != nil %>
        </td>
        <td<%=cell_color(building_amenity.recreation)%>>
          <%= if building_amenity.recreation == true then "Y" elsif building_amenity.recreation == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.recreation_} %>
        </td>
        <td<%=cell_color(building_amenity.fitness)%>>
          <%= if building_amenity.fitness == true then "Y" elsif building_amenity.fitness == false then "N" end %>
          <%= render partial: "shared/comment", locals: {comment_field: building_amenity.fitness_} %>
        </td>
        <td<%=cell_color(building_amenity.other)%>>
          <%= building_amenity.other %>
        </td>
        <!--<td><%#= building_amenity.amentity_1 %></td>-->
        <!--<td><%#= building_amenity.amentity_2 %></td>-->
        <!--<td><%#= building_amenity.amentity_3 %></td>-->
        <!--<td><%#= building_amenity.amentity_11 %></td>-->
        <!--<td><%#= building_amenity.amentity_12 %></td>-->
        <td><%= link_to 'Edit', edit_building_amenity_path(building_amenity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>