<p id="notice"><%= notice %></p>

<h2>Building Amenities</h2>

<div class="scroll-table-div">

<table class="scroll-table">
  <thead>
    <tr>
      <th class="extra"></th>
      <th>Washer Dryer</th>
      <th>Microwave</th>
      <th>Security Alarm</th>
      <th><%= link_to "Ceiling", "/amenity_ceilings" %></th>
      <th><%= link_to "Patio", "/amenity_patios" %></th>
      <th>Big Windows</th>
      <th>Other</th>
      <th class="smaller"></th>
      <th>Business Center</th>
      <th>Resident Lounge</th>
      <th>Screening Room</th>
      <th>Rooftop Deck</th>
      <th>Train Station</th>
      <th>Pool</th>
      <th>Gated</th>
      <th><%= link_to "Concierge", "/amenity_concierges" %></th>
      <th>Recreation</th>
      <th>Fitness</th>
      <th>Other<br></th>
      <!--<th>amentity 1 name</th>-->
      <!--<th>amentity 2 name</th>-->
      <!--<th>amentity 3 name</th>-->
      <!--<th>amentity 11 name</th>-->
      <!--<th>amentity 12 name</th>-->
    </tr>
  </thead>

  <tbody>
    <%- last_geography_id = 0 %>
    <% @building_amenities_write.each do |building_amenity| %>
        <%- if building_amenity.building.geography_id != last_geography_id %>
          <tr><td colspan='20'><br><b><i>
            <% if building_amenity.building.geography_id == nil %>
                No Geography Assigned
            <% else %>
                <%= Geography.find(building_amenity.building.geography_id).name %>
            <% end %>
          </i></b></td></tr>
        <%- end %>
        <%- last_geography_id = building_amenity.building.geography_id %>
        <%= render partial: "index_row", locals: { building_amenity: building_amenity, read_or_write: "write" } %>
    <% end %>
    <% @building_amenities_read.each do |building_amenity| %>
      <%= render partial: "index_row", locals: { building_amenity: building_amenity, read_or_write: "read" } %>
    <% end %>
  </tbody>
</table>

</div>

<br>