<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @building_amenity.building_id %>
</p>

<p>
  <strong>Business center:</strong>
  <%= @building_amenity.business_center %>
</p>

<p>
  <strong>Business center :</strong>
  <%= @building_amenity.business_center_ %>
</p>

<p>
  <strong>Resident lounge:</strong>
  <%= @building_amenity.resident_lounge %>
</p>

<p>
  <strong>Resident lounge :</strong>
  <%= @building_amenity.resident_lounge_ %>
</p>

<p>
  <strong>Screening room:</strong>
  <%= @building_amenity.screening_room %>
</p>

<p>
  <strong>Screening room :</strong>
  <%= @building_amenity.screening_room_ %>
</p>

<p>
  <strong>Rooftop deck:</strong>
  <%= @building_amenity.rooftop_deck %>
</p>

<p>
  <strong>Rooftop deck :</strong>
  <%= @building_amenity.rooftop_deck_ %>
</p>

<p>
  <strong>Train station:</strong>
  <%= @building_amenity.train_station %>
</p>

<p>
  <strong>Train station :</strong>
  <%= @building_amenity.train_station_ %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @building_amenity.pool %>
</p>

<p>
  <strong>Pool :</strong>
  <%= @building_amenity.pool_ %>
</p>

<p>
  <strong>Gated:</strong>
  <%= @building_amenity.gated %>
</p>

<p>
  <strong>Gated :</strong>
  <%= @building_amenity.gated_ %>
</p>

<p>
  <strong>Concierge:</strong>
  <%= @building_amenity.concierge %>
</p>

<p>
  <strong>Concierge :</strong>
  <%= @building_amenity.concierge_ %>
</p>

<p>
  <strong>Recreation:</strong>
  <%= @building_amenity.recreation %>
</p>

<p>
  <strong>Recreation :</strong>
  <%= @building_amenity.recreation_ %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @building_amenity.fitness %>
</p>

<p>
  <strong>Fitness :</strong>
  <%= @building_amenity.fitness_ %>
</p>

<p>
  <strong>Other:</strong>
  <%= @building_amenity.other %>
</p>

<p>
  <strong>amenity 1:</strong>
  <%= @building_amenity.amenity_1 %>
</p>

<p>
  <strong>amenity 1 :</strong>
  <%= @building_amenity.amenity_1_ %>
</p>

<p>
  <strong>amenity 1 name:</strong>
  <%= @building_amenity.amenity_1_name %>
</p>

<p>
  <strong>amenity 2:</strong>
  <%= @building_amenity.amenity_2 %>
</p>

<p>
  <strong>amenity 2 :</strong>
  <%= @building_amenity.amenity_2_ %>
</p>

<p>
  <strong>amenity 2 name:</strong>
  <%= @building_amenity.amenity_2_name %>
</p>

<p>
  <strong>amenity 3:</strong>
  <%= @building_amenity.amenity_3 %>
</p>

<p>
  <strong>amenity 3 :</strong>
  <%= @building_amenity.amenity_3_ %>
</p>

<p>
  <strong>amenity 3 name:</strong>
  <%= @building_amenity.amenity_3_name %>
</p>

<p>
  <strong>amenity 11:</strong>
  <%= @building_amenity.amenity_11 %>
</p>

<p>
  <strong>amenity 11 :</strong>
  <%= @building_amenity.amenity_11_ %>
</p>

<p>
  <strong>amenity 11 name:</strong>
  <%= @building_amenity.amenity_11_name %>
</p>

<p>
  <strong>amenity 12:</strong>
  <%= @building_amenity.amenity_12 %>
</p>

<p>
  <strong>amenity 12 :</strong>
  <%= @building_amenity.amenity_12_ %>
</p>

<p>
  <strong>amenity 12 name:</strong>
  <%= @building_amenity.amenity_12_name %>
</p>

<%= link_to 'Edit', edit_building_amenity_path(@building_amenity) %> |
<%= link_to 'Back', building_amenities_path %>
