<%= form_for(@amenity_ceiling) do |f| %>
  <% if @amenity_ceiling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amenity_ceiling.errors.count, "error") %> prohibited this amenity_ceiling from being saved:</h2>

      <ul>
      <% @amenity_ceiling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="actions">
      <br>
      <%= f.submit "Save", {:class=>"btn btn-success"} %>
      <%= link_to "cancel", "/amenity_ceilings" %>
    </div>
<% end %>
