<p id="notice"><%= notice %></p>

<h3>APARTMENT FEATURE -- Ceilings</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @amenity_ceilings.each do |amenity_ceiling| %>
      <tr>
        <td><%= amenity_ceiling.name %></td>
        <td><%= link_to 'Edit', edit_amenity_ceiling_path(amenity_ceiling) %></td>
        <td><%= link_to 'Destroy', amenity_ceiling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amenity ceiling', new_amenity_ceiling_path, {:class=>"btn btn-primary"} %>
<%= link_to 'Back', "/building_amenities" %>
