<p id="notice"><%= notice %></p>

<h4>Geographies for <%= User.find(params[:user_id]).email %></h4>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_geographies.each do |user_geography| %>
      <tr>
        <td><%= Geography.find(user_geography.geography_id).name %></td>
        <td><%#= user_geography.access_type %></td>
        <td><%= link_to 'Destroy', user_geography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geography Assignment', "/geographies/user/#{params[:user_id]}/new", {:class=>"btn btn-primary"} %>
<%= link_to 'Back', "/user_assignments" %>
