<% if current_user && current_user.owner != nil %>
    <% application_name = current_user.owner.name + " Apartment App (powered by RCG)"  %>
<% else %>
    <% application_name = "RCG Apartment Application"  %>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title><%= application_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= application_name %>
      </a>
    </div>
    <%- if current_user %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="<%= root_path %>">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rent Roll&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%- Building.where(owner_id: current_user.owner_id).where(competitor: false).each do |building|  %>
                    <li><%= link_to building.name, "/rent_roll/#{building.id}" %></li>
                <%- end %>
              </ul>
            </li>
            <li><a href="/building_fee_schedules">Fee Schedules</a></li>
            <li><a href="/building_amenities">Amenities</a></li>
          </ul>
        </div>
    <%- end %>
  </div>
</nav>



<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
