<%# if current_user && current_user.owner != nil %>
    <%# application_name = current_user.owner.name + " Apartment App (powered by RCG)"  %>
<%# else %>
    <%# application_name = "RCG Apartment Application"  %>
<%# end %>
<% application_name = "Compsy"  %>

<!DOCTYPE html>
<html>
<head>
  <title><%= application_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <% if params[:controller] == 'sessions' && (params[:action] == 'new' || params[:action] == 'create') %>class="page--login"<% end %>>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo_square.jpg", class: 'logo' %><span class="app-name"><%= application_name %></span>
      </a>
    </div>
    <%- if current_user && current_user.owner_id != nil %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buildings&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add New Building", new_building_path %></li>
                <li role="separator" class="divider"></li>
                <li role="separator" class="navbar-text">Owned</li>
                <%- Building.joins(:geography).where(owner_id: current_user.owner_id, competitor: false).select("geographies.id as geography_id, geographies.name as geography_name").order("geographies.name").distinct.each do |geography|  %>
                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= geography.geography_name %></a>
                      <ul class="dropdown-menu">
                        <%- Building.joins(:geography).where(owner_id: current_user.owner_id, competitor: false).where("geographies.id = " + geography.geography_id.to_s).select("buildings.id as building_id, buildings.name as building_name").order("buildings.name").distinct.each do |building|  %>
                            <li><%= link_to building.building_name, edit_building_path(building.building_id) %></li>
                        <%- end %>
                      </ul>
                    </li>
                <%- end %>
                <li role="separator" class="divider"></li>
                <li role="separator" class="navbar-text">Competitor</li>
                <%- Building.joins(:geography).where(owner_id: current_user.owner_id, competitor: true).select("geographies.id as geography_id, geographies.name as geography_name").order("geographies.name").distinct.each do |geography|  %>
                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= geography.geography_name %></a>
                      <ul class="dropdown-menu">
                        <%- Building.joins(:geography).where(owner_id: current_user.owner_id, competitor: true).where("geographies.id = " + geography.geography_id.to_s).select("buildings.id as building_id, buildings.name as building_name").order("buildings.name").distinct.each do |building|  %>
                            <li><%= link_to building.building_name, edit_building_path(building.building_id) %></li>
                        <%- end %>
                      </ul>
                    </li>
                <%- end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comparisons&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "View Market Comp Report - Summary", "/comparisons" %></li>
                <li><%= link_to "View Market Comp Report - Detail", "/comparisons?details=1" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "View Market Comparisons", "/comp_index" %></li>
                <li><%= link_to "Add Market Comparisons", "/comp_new" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rent Roll&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%- Building.where(owner_id: current_user.owner_id).where(competitor: false).order(:name).each do |building|  %>
                    <li><%= link_to building.name, "/rent_roll/#{building.id}" %></li>
                <%- end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Occupancy&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "View Occupancy Report", "/occupancy" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "View Occupancy Rates", building_occupancies_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Add Occupancy - Owned', "/building_occupancies/new" %></li>
                <li><%= link_to 'Add Occupancy - Competitors', "/building_occupancies/new?competitor=true" %></li>
              </ul>
            </li>
            <li><a href="/building_fee_schedules">Fee Schedules</a></li>
            <li><a href="/building_amenities">Amenities</a></li>
            <!--<li><a href="/analytics">Analytics</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "View Data", "/analyses/data" %></li>
                <li><%= link_to "Update Data", "/analyses/update" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'PPSF', "/analyses/ppsf" %></li>
              </ul>
            </li>
          </ul>
        </div>
    <%- end %>
  </div>
</nav>



<div class="container-fluid main-wrapper">
  <%= yield %>
</div>

</body>
</html>
